body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRCVAvpT_2XdeP72hw8DEf9iLJaHwPLNQVJzmEe9q1RhFrSG-4fRYCLsO9SZwkJXG-eCQ:https://lookaside.fbsbx.com/lookaside/crawler/media/%3Fmedia_id%3D244217904860033&usqp=CAU);
  min-height: 75%;
}

.menu {
  display: none;
}
